<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="abt2style.css">
    <link rel="stylesheet" href="../../gridsystem.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <section class="main">
            <div class="items row">
                <div class="lst col-4 align-c">
                    <ul>
                        <h1>#####3</h1>
                        <li>#####1</li>
                        <li>#####1</li>
                        <li>#####1</li>
                        <li>#####1</li>
                    </ul>
                </div>
                <div class="chrt col-4 align-c">
                    <h1>chart chart</h1>
                </div>
                <div class="code col-4 align-c">
                    <ul>
                        <h1>#####3</h1>
                        <li>#####1</li>
                        <li>#####1</li>
                        <li>#####1</li>
                        <li>#####1</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
</html>