<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="abt3style.css">
    <link rel="stylesheet" href="../../gridsystem.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <section class="main">
            <div class="abt3 row">
                <div class="pic col-7"><img src="../trash/logo.jpeg" alt="kkkg"></div>
                <div class="rndm_facts col-5">
                    <ul>
                        <li>random random facts</li>
                        <li>######</li>
                        <li>######</li>
                        <li>######</li>
                        <li>######</li>
                        <li>######</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
</html>